// =========================================================
// Layout: Footer
// =========================================================

@use "../variables" as variable;
@use "../mixins" as mixin;

.footer {
	padding: variable.$general-padding;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-top: 1px solid variable.$border;
	color: variable.$gray-light;
	font-family: variable.$body-font;
	font-size: variable.$smaller-font-size;
	line-height: variable.$small-line-height;
	text-transform: uppercase;
}
