// =========================================================
// Layout: Footer
// =========================================================

@use "../variables" as variable;
@use "../mixins" as mixin;

.footer {
	@include mixin.section;
	min-height: unset;
	background-color: variable.$footer-bg;
	color: variable.$footer-text;
	padding: variable.$footer-padding-top variable.$container-padding-mobile
		variable.$footer-padding-bottom;

	@include mixin.mq(md) {
		padding-inline: variable.$container-padding-tablet;
	}

	@include mixin.mq(lg) {
		padding-inline: variable.$container-padding-desktop;
	}
	
	&__principal-container {
		@include mixin.max-width;
		display: grid;
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			"social"
			"brand"
			"legal"
			"copyright";
		row-gap: variable.$footer-columns-gap;

		@include mixin.mq(md) {
			grid-template-rows: repeat(2, auto);
			grid-template-columns: repeat(2, auto);
			grid-template-areas:
				"brand social"
				"legal copyright";
		}
	}

	&__brand {
		grid-area: brand;
		display: flex;
		flex-direction: column;
		row-gap: variable.$space-3;

		@include mixin.mq(md) {
			display: unset;
			flex-direction: unset;
			flex-direction: row;
			column-gap: variable.$space-4;
		}
	}

	&__company-name {
		color: variable.$footer-text-light;
	}

	&__name {
		@include mixin.g-title-4;
		margin-bottom: unset;
	}

	&__company-tagline {
		@include mixin.g-small;
		margin-bottom: unset;
		color: inherit;
	}

	&__legal-area {
		grid-area: legal;
		color: inherit;
		display: flex;
		flex-direction: column;
		row-gap: variable.$footer-links-gap;

		@include mixin.mq(md) {
			flex-direction: row;
			column-gap: variable.$space-4;
		}
	}

	&__legal-link {
		@include mixin.g-smaller;
		color: inherit;
		margin-bottom: unset;
	}

	&__legal-copyright {
		@include mixin.g-smaller;
		color: inherit;
		margin-bottom: unset;

		@include mixin.mq(md) {
			text-align: right;
		}
	}

	&__social {
		grid-area: social;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: variable.$space-4;
		place-self: center;

		@include mixin.mq(md) {
			column-gap: variable.$space-5;
			justify-self: end;
		}
	}
}
