// =========================================================
// Layout: Header
// =========================================================

@use "../variables" as variable;
@use "../mixins" as mixin;

.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	background-color: variable.$black-card;

	@include mixin.mq(md) {
		display: flex;
		justify-content: center;
	}

	&__container {
		margin: 0 auto;
		padding: variable.$padding-top-header variable.$general-padding
			variable.$padding-bottom-header variable.$general-padding;

		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mixin.mq(md) {
			width: 100%;
			max-width: variable.$max-width-header;
		}
	}

	/* Logo */
	&__logo {
		@include mixin.g-title-3;

		margin-bottom: unset;
		line-height: unset;

		display: flex;
		align-items: center;
		gap: 10px;

		color: variable.$white;
		text-decoration: none;
	}

	/* Toggle */
	&__toggle {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 32px;
		height: 20px;
		padding: 0;
		border: 0;
		background: transparent;
		cursor: pointer;

		span {
			display: block;
			width: 100%;
			height: 2px;
			background-color: variable.$white;
			transition:
				transform 0.25s ease,
				opacity 0.25s ease;
		}

		&[aria-expanded="true"] {
			span {
				&:nth-child(1) {
					transform: translateY(9px) rotate(45deg); // Ajustado para centrar mejor
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: translateY(-9px) rotate(-45deg); // Ajustado simétrico
				}
			}
		}
	}

	/* Nav Movil y Escritorio */
	&__nav {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 8px 12px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
		background-color: variable.$black-card;

		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px);

		transition:
			opacity 0.25s ease,
			visibility 0.25s ease,
			transform 0.25s ease;

		a {
			display: block;
			width: 100%;
			padding: 8px 0;
			color: inherit;
			text-decoration: none;
			transition: color 0.25s ease;

			position: relative;
			padding-bottom: 4px;

			&:hover {
				color: variable.$white;
			}

			&::after {
				@include mixin.mq(md) {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: variable.$blue-soft;

					transform: scaleX(0);
					transform-origin: center;
					transition: transform 0.2s ease;
				}
			}

			&:hover::after {
				@include mixin.mq(md) {
					transform: scaleX(1);
				}
			}
		}

		&.is-open {
			border-top: 1px solid #2d2d2d;
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	/* Media Queries */
	@include mixin.mq(md) {
		&__toggle {
			display: none;
		}

		&__nav {
			position: static;
			width: auto;
			padding: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 30px;
			background-color: transparent;
			opacity: 1;
			visibility: visible;
			transform: none;
			transition: none;

			a {
				width: auto;
				padding: 0;
			}
		}
	}
}
