// =========================================================
// Base: Mixins
// =========================================================

@use "sass:map";
@use "./variables" as variable;

/* Media Queries */
@mixin mq($breakpoint) {
	$value: map.get(variable.$breakpoints, $breakpoint);

	@if $value {
		@media (min-width: $value) {
			@content;
		}
	} @else {
		@warn "El breakpoint `#{$breakpoint}` no esta definido.";
	}
}

/* Headings */
@mixin heading-font($extrabold: false) {
	line-height: variable.$heading-line-height;
	font-family: variable.$heading-font;
	color: variable.$white;

	@if $extrabold {
		font-weight: 700;
	} @else {
		font-weight: 400;
	}
}

@mixin g-bigger-title {
	@include heading-font(true);
	font-size: variable.$bigger-font-size;
	margin-bottom: 0.6em;
}

@mixin g-title-1 {
	@include heading-font(true);
	font-size: variable.$h1-font-size;
	margin-bottom: 0.6em;
}

@mixin g-title-2 {
	@include heading-font(true);
	font-weight: 500;
	font-size: variable.$h2-font-size;
	margin-bottom: 0.5em;
}

@mixin g-title-3 {
	@include heading-font;
	font-weight: 500;
	font-size: variable.$h3-font-size;
	margin-bottom: 0.5em;
}

@mixin g-title-4 {
	@include heading-font;
	font-weight: 500;
	font-size: variable.$normal-font-size;
	margin-bottom: 0.4em;
}

@mixin g-title-5 {
	@include heading-font;
	font-size: variable.$small-font-size;
	margin-bottom: 0.4em;
}

@mixin g-title-6 {
	@include heading-font;
	font-size: variable.$smaller-font-size;
	margin-bottom: 0.4em;
}

/* Body Text Mixins */
@mixin body-font($extrabold: false) {
	line-height: variable.$body-line-height;
	font-family: variable.$body-font;
	color: variable.$white;
	margin-bottom: 1rem;

	@if $extrabold {
		font-weight: 700;
	} @else {
		font-weight: 400;
	}
}

@mixin g-biggest {
	@include body-font(true);
	font-size: variable.$h1-font-size;
	margin-bottom: 1.5rem;
}

@mixin g-bigger {
	@include body-font(true);
	font-size: variable.$h2-font-size;
	margin-bottom: 1.25rem;
}

@mixin g-big {
	@include body-font(true);
	font-size: variable.$h3-font-size;
	margin-bottom: 1.125rem;
}

@mixin g-normal {
	@include body-font;
	font-size: variable.$normal-font-size;
}

@mixin g-small {
	@include body-font;
	font-size: variable.$small-font-size;
}

@mixin g-smaller {
	@include body-font;
	font-size: variable.$smaller-font-size;
}

/* Spacing */
@mixin page-bottom-margin {
	margin-bottom: variable.$page-bottom-margin;
}

@mixin general-padding {
	padding: variable.$general-padding;
}

@mixin max-width {
	max-width: variable.$max-width;
}

/* Buttons */
@mixin button-variant(
	$bg-color: variable.$blue-primary,
	$text-color: variable.$white,
	$is-outline: false
) {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	@include g-small;
	transition:
		transform 0.25s ease,
		background-color 0.25s ease,
		color 0.25s ease,
		box-shadow 0.25s ease,
		border-color 0.25s ease;
	cursor: pointer;

	@if $is-outline {
		background-color: transparent;
		color: $text-color;
		border: 1px solid $bg-color;

		&:hover {
			transform: translateY(-2px);
			background-color: $bg-color;
			color: variable.$white;
			box-shadow: 0 10px 10px variable.$blue-glow;
		}
	} @else {
		background-color: $bg-color;
		color: $text-color;
		border: 1px solid transparent;

		&:hover {
			transform: translateY(-3px);
			background-color: variable.$blue-light;
			color: variable.$white;
			box-shadow: 0 15px 40px variable.$blue-glow;
		}
	}
}

/* Pretitle */
@mixin pretitle {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 28px;
	color: variable.$gray-light;
	@include g-smaller;
	font-weight: 500;
	letter-spacing: 0.15em;
	text-transform: uppercase;

	@include mq(lg) {
		margin-bottom: 38px;
	}

	&::before {
		content: "";
		width: 20px;
		height: 1px;
		background-color: variable.$blue-primary;

		@include mq(lg) {
			width: 35px;
		}
	}
}

/* Global Mixins */
@mixin container {
	/* width: calc(100% - (#{variable.$general-padding} * 2));
	max-width: #{variable.$max-width};
	margin-inline: auto; */
}

@mixin background-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 0;

	svg {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* Header container */
@mixin header-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include mq(md) {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
	}

	@include mq(lg) {
		margin-bottom: 70px;
	}
}

/* Accent */
@mixin accent {
	display: inline;
	color: variable.$blue-primary;
	text-shadow: 0 0 40px variable.$blue-glow;
}
