// =========================================================
// Contact
// =========================================================

@use "../../base/variables" as variable;
@use "../../base/mixins" as mixin;

.contact {
	@include mixin.background;
	@include mixin.section;
	@include mixin.max-width;
	min-height: unset;

	@include mixin.mq(md) {
		padding-bottom: variable.$section-bottom * 3;
	}

	/* Header */
	&__header {
		@include mixin.header-container;
	}

	/* Pretitle */
	&__pretitle {
		@include mixin.pretitle;
	}

	/* Title */
	&__title {
		@include mixin.g-title-1;
	}

	/* Accent */
	&__accent {
		@include mixin.accent;
	}

	/* Description */
	&__description {
		@include mixin.g-small;
		margin-bottom: 40px;
	}

	/* Links Container */
	&__links {
		display: flex;
		flex-direction: column;
		gap: 8px;

		@include mixin.mq(md) {
			flex-direction: row;
			align-items: center;
			gap: 16px;
		}
	}

	/* Buttons */
	&__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		@include mixin.g-normal;
		margin-bottom: .6rem;
		text-transform: uppercase;
		background: #0037781f;
		border: 1px solid rgba(0, 55, 120, 0.8);
		padding: 12px 20px;
		border-radius: 4px;
		text-decoration: none;
		transition:
			background 0.25s ease,
			transform 0.25s ease;

		span {
			color: var(--blue);
			font-size: 18px;
			transition: transform 0.25s ease;
		}

		@include mixin.mq(md) {
			padding: 12px 20px;
		}

		&:hover {
			background: rgba(0, 55, 120, 0.7);
			transform: translateY(-2px);

			span {
				transform: translateX(3px) translateY(-3px);
			}
		}
	}

	&__title {
		text-transform: uppercase;
	}
}
