// =========================================================
// Hero
// =========================================================

@use "../../base/variables" as variable;
@use "../../base/mixins" as mixin;

.hero {
	@include mixin.background;
	@include mixin.section;
	@include mixin.max-width;
	padding-top: variable.$padding-top-hero-section;

	@include mixin.mq(md) {
		min-height: unset;
	}

	/* Pretitle */
	&__pretitle {
		@include mixin.pretitle;
	}

	/* Accent */
	&__accent {
		@include mixin.accent;
	}

	/* Header */
	&__header {
		@include mixin.header-container;
	}

	/* Title */
	&__title {
		@include mixin.g-title-1;

		@include mixin.mq(md) {
			@include mixin.g-biggest-title;
		}
	}

	/* Description */
	&__description {
		@include mixin.g-small;

		@include mixin.mq(md) {
			@include mixin.g-normal;
		}
	}

	/* Actions */
	&__actions {
		margin-bottom: 2rem;
	}

	&__button {
		@include mixin.button-variant(
			variable.$blue-primary,
			variable.$white,
			false
		);
		margin-bottom: unset;
	}

	&__title,
	&__button,
	&__link,
	&__author {
		text-transform: uppercase;
	}

	&__author {
		@include mixin.g-smaller;
		margin-bottom: 6px;
		&-link {
			display: flex;
			column-gap: 8px;
		}
	}

	&__place {
		@include mixin.g-smaller;
		color: variable.$gray-light;
	}
}
