// =========================================================
// Hero
// =========================================================

@use "../../base/variables" as variable;
@use "../../base/mixins" as mixin;

.hero {
	position: relative;
	min-height: 90dvh;
	padding: variable.$padding-top-hero variable.$general-padding
		variable.$padding-bottom-hero;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	/* Pretitle */
	&__pretitle {
		@include mixin.pretitle;
	}

	/* Accent */
	&__accent {
		@include mixin.accent;
	}

	/* Header */
	&__header {
		@include mixin.header-container;
	}

	/* Title */
	&__title {
		@include mixin.max-width;
		@include mixin.g-title-1;
	}

	/* Description */
	&__description {
		@include mixin.g-normal;
	}

	/* Actions */
	&__actions {
		margin-bottom: 2rem;
	}

	&__button {
		@include mixin.button-variant(
			variable.$blue-primary,
			variable.$white,
			false
		);
		margin-bottom: unset;
	}

	&__link {
		&--secondary {
			@include mixin.button-variant(
				variable.$blue-primary,
				variable.$white,
				true
			);

			margin-bottom: unset;
		}
	}

	&__title,
	&__button,
	&__link,
	&__location {
		text-transform: uppercase;
	}

	&__location {
		@include mixin.g-smaller;
		margin-bottom: 6px;
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__author {
		display: flex;
		align-items: center;
		column-gap: 8px;
		color: variable.$gray-light;
		transition: color 0.25s ease;

		&:hover {
			color: variable.$white;
		}
	}

	&__place {
		@include mixin.g-smaller;
		position: relative;
		z-index: 3;
		color: variable.$gray-light;
	}
}
