// =========================================================
// Global
// =========================================================

@use "../base/variables" as variable;

.section {
	position: relative;
	z-index: 2;
	padding: #{variable.$section-padding} 0;
}

.section-label {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 32px;
	color: #{variable.$blue-soft};
	text-transform: uppercase;
}

.section-label::before {
	content: "";
	width: 30px;
	height: 1px;
	background: #{variable.$blue-soft};
}
